{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Add Expenses
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Expenses</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Expenses Name</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody class="table-hover">
                <tr>
                  <td> </td>
                  <td> </td>
                  <td>
                    <a href="/editexpenses/" class="btn btn-sm mx-1 btn-outline-success" data-bs-toggle="modal" data-bs-target="#editcustomer"
                    data-bs-whatever="@mdo">
                      <i class="fa fa-pen"></i>
                      </a>
        
                      <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Expenses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="ExpensesGroup Name " class="col-form-label">Add Expenses</label>
            <input type="text" class="form-control" id="ExpensesGroup Name" placeholder="ExpensesGroup Name" />
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}