{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Expenses
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Expenses</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Expenses Name</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in list%}
              <tbody class="table-hover">
                <tr>
                  <td>{{i.expenses_id}} </td>
                  <td> {{i.expenses_name}}</td>
                  <td>
                    <button type="button" class="btn btn-success" onclick="loadEditModal('{{ i.expenses_id }}')"><i class="fa fa-pen"></i></button> 

                    <a href="deleteexpenses/{{i.expenses_id}}" class="btn btn-danger"
                      onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></a>


                    

                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Expenses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insertexpenses/" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="ExpensesGroupName" class="col-form-label">Add Expenses</label>
            <input type="text" class="form-control" name="ExpensesName" placeholder="ExpensesGroup Name" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" name="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="editAddExpenses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Expenses
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mb-3">
              <div class="col-12">
                <form action="/updateexpenses/" method="post">
                  {% csrf_token %}
                  <label for="ExpensesName" class="form-label">Unit Name</label>
                  <input type="text" class="form-control" id="updateexpenses_name" name="ExpensesName" value="" required>
                  <input type="hidden" id="Expenses_id" name="updateExpenses_id">
                </div>
      
              </div>
            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="submit" class="btn btn-success">Save</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>
  <script>
    function loadEditModal(Expenses_id) 
    { 
      console.log(Expenses_id);
      fetch(`/editAddExpenses/${Expenses_id}/`)
        .then(response => { return response.json(); })
        .then(html => {
          console.log(html);
          let editExpenses = html.editexpenses;
          var editModalContent = new bootstrap.Modal(document.getElementById('editAddExpenses'));

          document.getElementById("Expenses_id").value = editExpenses.expenses_id;
          document.getElementById("updateexpenses_name").value = editExpenses.expenses_name;

          editModalContent.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
    }

  </script>


  {% endblock %}