{% extends 'index.html' %}
{% block content %}
<div class="card p-3">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Customer Name</label>
                            <i class="fa fa-plus " style="margin-left: 125px;"></i>
                            <input type="hidden" id="updatesale_id" name="updatesale_id">
                            <select class="form-select">
                                <option id="add_cashsale" name="add_cashsale">Cash Sale</option>
                                <option id="add_creditsale" name="add_creditsale">Credit Sale</option>
                                
                            </select>
                            
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Payment Term</label>
                            <select class="form-select">
                                <option id="add_cash" name="add_cash">Cash</option>
                                <option id="add_credit" name="add_credit">Credit</option>
                            </select>
                        </div>
                    
                    
                        <div class="col-md-2">
                            <label class="form-label">Invoice Date</label>
                            <input type="date" class="form-control" value="2025-03-26" id="add_invoicedate" name="add_invoicedate">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Due Days</label>
                            <input type="number" class="form-control" value="0" id="add_duedays" name="add_duedays">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Due Date</label>
                            <input type="date" class="form-control" value="2025-03-26" id="add_duedate" name="add_duedate">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                    <div class="col-md-6 mb-3 ">
                        <label class="form-label">Product Name</label>
                        <input type="text" class="form-control" placeholder="Search Products by name or Scan Barcode" id="add_producrname" name="add_producrname">
                    </div>

                    <div class="col-md-2 mb-3" style="margin-top: 30px">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          Close
                        </button>
                        
                        <button type="submit" class="btn btn-success">Save</button>
                        </div>
                      </div>
                    </div>
                    
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Sale</th>
                                <th>MRP</th>
                                <th>Dis %</th>
                                <th>Dis Value</th>
                                <th>Basic Total</th>
                                <th>GST %</th>
                                <th>GST Value</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="12">No Items Added</td></tr>
                        </tbody>
                    </table>
                    
                   
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-3 w-500 " style= "color: white; font-weight: bold">
    <span class="flex-fill text-center bg-success p-4">QTY 0</span>
    <span class="flex-fill text-center bg-secondary p-4">Sale Amt: ₹ 0.00</span>
    <span class="flex-fill text-center bg-danger p-4">Basic Amt: ₹ 0.00</span>
    <span class="flex-fill text-center bg-warning p-4">Discount Amt: ₹ 0.00</span>
    <span class="flex-fill text-center bg-info p-4">GST Amt: ₹ 0.00</span>
    <span class="flex-fill text-center bg-primary p-4">Total Bill: ₹ 0.00</span>

  </div>
  </div>

  <script>
    function loadEditModal(salesId) {
      console.log(paymentmodeId);
      
      fetch(`/editsale/${salesId}/`)
          .then(response => response.json())
          .then(data => {
              console.log(data);
              let paymentmode = data.editsale;
              
              if (Sales) {
                  document.getElementById("updatesale_id").value = Sales.Sales_id;
                  document.getElementById("updatesale_name").value = Sales.Sales_name;
                  document.getElementById("add_cashsale").value = Sales.Sales_addcashsale;
                  document.getElementById("add_creditsale").value = Sales.add_creditsale;
                  document.getElementById("add_cash").value = Sales.Sales_addcash;
                  document.getElementById("add_credit").value = Sales.Sales_addcredit;
                  document.getElementById("add_invoicedate").value = Sales.Sales_addinvoicedate;
                  document.getElementById("add_duedays").value = Sales.Sales_add_duedays;
                  document.getElementById("add_duedate").value = Sales.Sales_add_duedate;
                  document.getElementById("add_producrname").value = Sales.Sales_addproducrname;








                  
                  let editModal = new bootstrap.Modal(document.getElementById('editsale'));
                  editModal.show();
              } else {
                  console.error("Sales data not found");
              }
          })
          .catch(error => console.error('Error loading modal content:', error));
  }
  
  
  </script>
    
{% endblock %}