{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Add Unit
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Unit</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>UNIT ID</th>
                  <th>UNIT NAME</th>
                  <th>ACTION</th>

                </tr>
              </thead>
              {% for i in list%}
              <tbody class="table-hover">
                <tr>
                  <td>   {{i.unit_id}} </td>
                  
                  <td> {{i.unit_name}} </td>
                  <td>
                    <!-- <a href="/editunit/" class="btn btn-sm mx-1 btn-outline-success" data-bs-toggle="modal" data-bs-target="#editunit"
                    data-bs-whatever="@mdo">
                      <i class="fa fa-pen"></i> -->
                      <button type="button" class="btn btn-success" onclick="loadEditModal('{{ i.unit_id }}')"><i class="fa fa-pen"></i></button> 
                      <a href="deleteunit/{{i.unit_id}}" class="btn btn-danger" onclick="return confirm('are you sure?')"><i class="fa fa-trash"></i></a>
                    
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Unit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/Addunit/" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="UnitGroup Name " class="col-form-label"> Unit group</label>
            <input type="text" class="form-control" name="unitgroupname" id="UnitGroup Name" placeholder="UnitGroup Name" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" name="submit" class="btn btn-success">Save</button>
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>



<div class="modal fade" id="editunit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit Unit</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form action="/updateunit/" method="post">
    {% csrf_token %}
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">                
        <label for="unitname" class="form-label">Unit Name</label>
        <input type="text" class="form-control" placeholder="unit Name" name="unit_name" id="updateunit_name" required>
        <input type="hidden" id="updateunitId" name="unit_id" >
      
      </div>
      
    </div>
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-success">Update</button>
</div>
</form>
</div>
</div>
</div>
</div>



 <script>
  function loadEditModal(unit_id) {console.log(unit_id);
  
    fetch(`/editunit/${unit_id}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let Unit = html.editunit;
            var editModalContent = new bootstrap.Modal(document.getElementById('editunit'));

            document.getElementById("updateunitId").value=Unit.unit_id;
            
            document.getElementById("updateunit_name").value=Unit.unit_name;
            
            editModalContent.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
      }

</script> 
{% endblock %}