{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Add Unit
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Unit</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>UNIT ID</th>
                  <th>UNIT NAME</th>
                  <th>ACTION</th>

                </tr>
              </thead>
              {% for i in list%}
              <tbody class="table-hover">
                <tr>
                  <td>   {{i.unit_id}} </td>
                  
                  <td> {{i.unit_name}} </td>
                  <td>
                    <a href="/editunit/" class="btn btn-sm mx-1 btn-outline-success" data-bs-toggle="modal" data-bs-target="#editcustomer"
                    data-bs-whatever="@mdo">
                      <i class="fa fa-pen"></i>
                      </a>
        
                      <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                    
                  </td>
                </tr>
              </tbody>
              {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalcheck ">Add Unit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/insertAddUnit/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-12">
              <label for="UnitName" class="form-label"> Unit Name</label>
              <input type="text" class="form-control" id="UnitName" name="AddUnitName" required>
            </div>

          </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="editUnitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Unit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/updateAddUnit/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-12">
                <label for="UnitName" class="form-label"> Unit Name</label>
                <input type="text" class="form-control" id="updateUnitName" name="UnitName" required>
                <input type="hidden" id="updateunit_id" name="unit_id">
              </div>
  
            </div>
            
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </div>
</div>


<script>
  function loadEditModal(AddUnitId) {console.log(AddUnitId);
  
    fetch(`/editAddUnit/${AddUnitId}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let AddUnit = html.editAddUnit;
            var editModal = new bootstrap.Modal(document.getElementById('editunitModal'));
            document.getElementById("updateAddUnit_id").value=AddUnit.AddUnit_Id;
            document.getElementById("updateAddUnit_Name").value = AddUnit.AddUnit_name;
        
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script>


{% endblock %}