{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Brand List
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Brand</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Brand Name</th>
                  <th>Brand Img</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody class="table-hover">
                {% for i in branddata %}
                <tr>
                  <td>{{ i.brand_id }}</td>
                  <td>{{ i.brand_name }} </td>
                  <td> <img style="width:50px; height:50px;" src="/media/{{ i.brand_img }}" alt=""></td>                 
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success" onclick="loadEditModal('{{ i.brand_id }}')">
                      <i class="fa fa-pen"></i>
                  </button>
        
                      <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                    
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insertbrand/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col">
              <label for="BrandName" class="form-label"> Brand Name</label>
              <input type="text" class="form-control" id="BrandName" name="Brandname" required>
            </div>
            
          </div>
          <div class="row">
            <div class="col">             
              <label for="BrandImg" class="form-label"> Brand Img</label>
              <input type="file" class="form-control" id=" BrandImg" name="Brandimg" style="height: 150px; width: 200px;">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
      </form>
      </div>
    </div>  
  </div>
</div>


<div class="modal fade" id="editbrandmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/updatebrand/" method="post"  enctype="multipart/form-data">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-12">
              <label for="BrandName" class="form-label">Brand Name</label>
              <input type="text" class="form-control" id="updateBrandName" name="updatebrandName" required>
              <input type="hidden" id="updatebrand_id" name="brand_id">

            </div>
            
          </div>
          <div class="row">
            <div class="col-6 ">             
              <label for="BrandImg" class="form-label"> Brand Img</label>
              <input type="file" class="form-control" id="" name="" >
              <img src="" alt="" style="height: 150px; width: 200px;" id="updatebrandImg">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit"  name="submit" class="btn btn-success">Update</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  function loadEditModal(brand_id) {console.log(brand_id);
    
    fetch(`/editbrand/${brand_id}/`)
        .then(response =>{return response.json();})
        .then(html => {
            console.log(html);
            let brand = html.editbrand;
            var editModal = new bootstrap.Modal(document.getElementById('editbrandmodel'));
            document.getElementById("updatebrand_id").value=editbrand.brand_id;
            document.getElementById("updateBrandName").value = brand.brand_name;
            document.getElementById("updateBrandImg").src = brand.brand_img;
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script> -->

<script>
  function loadEditModal(brand_id) {
    console.log("Brand ID:", brand_id);

    fetch(`/editbrand/${brand_id}/`)
        .then(response => response.json())
        .then(data => {
            console.log("Fetched Data:", data);

            let brand = data.editbrand; // Extract brand details
            
            if (!brand) {
                console.error("Error: Brand data is missing!");
                return;
            }

            var editModal = new bootstrap.Modal(document.getElementById('editbrandmodel'));

            // Corrected variable references
            document.getElementById("updatebrand_id").value = brand.brand_id;
            document.getElementById("updateBrandName").value = brand.brand_name;

            // Ensure the image source is valid 
           
            editModal.show();
        })
        .catch(error => console.error("Error loading modal content:", error));
}

</script>

{% endblock %}