{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Category List
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Category</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Category Name</th>
                  <th>Category Img</th>
                  <th>Banner Img</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in list %}
              <tbody class="table-hover">
                <tr>
                  <td>{{ i.category_id }} </td>
                  <td>{{ i.category_name }}</td>
                  <td> <img style="width:50px; height:50px;" src="/media/{{ i.category_img }}" alt="/media/{{ i.category_img }}"></td>
                  <td><img style="width:50px; height:50px;" src="/media/{{ i.category_bannerimg }}" alt="/media/{{ i.category_bannerimg }}">

                  </td>
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success" onclick="loadEditModal({{ i.category_id }})">
                      <i class="fa fa-pen"></i>
                  </button>
                  
                  
                  <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                  data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                  
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalcheck ">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/insertcategory/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-12">
              <label for="CategoryName" class="form-label"> Category Name</label>
              <input type="text" class="form-control" id="CategoryName" name="categoryName" required>
            </div>

          </div>
          <div class="row">
            <div class="col-6 ">
              <label for="CategoryImg" class="form-label"> Category Img</label>
              <input type="file" class="form-control" id="CategoryImg" name="categoryimg"
                style="height: 150px; width: 200px;">
            </div>
            <div class="col-6">
              <label for="CategoryBanner" class="form-label"> Category Banner</label>
              <input type="file" class="form-control" id="CategoryBanner" name="categoryBanner"
                style="height: 150px; width: 200px;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/updatecategory/" action="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for i in editcategory %}
          <div class="row mb-3">
            <div class="col-12">
              <label for="CategoryName" class="form-label"> Category Name</label>
              <input type="text" class="form-control" id="CategoryName" name="categoryName" value="{{ i.category_name }}"  required>
              <input type="hidden" class="form-control" id="CategoryId" name="categoryId" value="{{ i.category_id }}" >
              
            </div>

          </div>
          <div class="row">
            <div class="col-6 ">
              <label for="CategoryImg" class="form-label"> Category Img</label>
              <input type="file" class="form-control" id="CategoryImg" name="categoryimg" value="{{ i.category_img }}"
                style="height: 150px; width: 200px;">
            </div>
            <div class="col-6">
              <label for="CategoryBanner" class="form-label"> Category Banner</label>
              <input type="file" class="form-control" id="CategoryBanner" name="categoryBanner" value="{{ i.category_bannerimg }}"
                style="height: 150px; width: 200px;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
          {% endfor %}
        </form>
        </div>
      </div>
     
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="exampleModalcheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Other Charge</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form action="">
            <div class="col-6">
              <label for="chargename" class="form-label">Other Charge Name</label>
              <input type="text" class="form-control" id="chargename" name="chargename" required>
            </div>
            <div class="col-6">
              <label for="chargename" class="form-label">Types of Charges</label>
              <div class="row">
                <div class="d-flex">
                  <div class="col-3"></div>
                <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="chargeType" id="plus">
                  <label class="form-check-label" for="plus">(+)</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="chargeType" id="minus">
                  <label class="form-check-label" for="minus">(-)</label>
                </div>
              </div>
              <div class="col-3"></div>
            </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="mb-3">
                <label class="form-label fw-bold">Amount of Charges</label>
                <div class="d-flex">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="amountType" id="absolute">
                    <label class="form-check-label" for="absolute">Absolute</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="amountType" id="qty">
                    <label class="form-check-label" for="qty">QTY</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="amountType" id="percentage">
                    <label class="form-check-label" for="percentage">Percentage</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-2">
                  <label class="form-label fw-bold">Apply on </label>
                  <input type="text" class="form-control" placeholder="Enter.......">
                </div>
                <div class="col-2">
                  <label class="form-label fw-bold">Amount </label>
                  <input type="text" class="form-control" placeholder="Enter.......">
                </div>
                <div class="col-2">
                  <label class="form-label fw-bold">Amount </label>
                  <input type="text" class="form-control" placeholder="Enter.......">
                </div>
                <div class="col-2">
                  <label class="form-label fw-bold">Amount </label>
                  <input type="text" class="form-control" placeholder="Enter.......">
                </div>
                <div class="col-2">
                  <label class="form-label fw-bold">Amount </label>
                  <input type="text" class="form-control" placeholder="Enter.......">
                </div>
              </div>
            </div>

          </div>
        
      
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
      </form>
    </div>
  </div>
</div> -->
<script>
  function loadEditModal(categoryId) {
    fetch(`/editcategory/${categoryId}/`)
        .then(response => response.text())
        .then(html => {
            document.getElementById('editModalContent').innerHTML = html;
            var editModal = new bootstrap.Modal(document.getElementById('editCategoryModal'));
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script>


{% endblock %}