{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Category List
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Category</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Category Name</th>
                  <th>Category Img</th>
                  <th>Banner Img</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in list %}
              <tbody class="table-hover">
                <tr>
                  <td>{{ i.category_id }} </td>
                  <td>{{ i.category_name }}</td>
                  <td> <img style="width:50px; height:50px;" src="/media/{{ i.category_img }}" alt="/media/{{ i.category_img }}"></td>
                  <td><img style="width:50px; height:50px;" src="/media/{{ i.category_bannerimg }}" alt="/media/{{ i.category_bannerimg }}">

                  </td>
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success"  onclick="loadEditModal('{{ i.category_id }}')">
                      <i class="fa fa-pen"></i>
                  </button>
                  <a href="deleteCategory/{{ i.category_id }}" onclick="return confirm('Are you sure?')" class="btn btn-sm mx-1 btn-outline-danger"><i class="fa fa-trash"></i></a>
                  
                  
                  <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                  data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                  
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalcheck ">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/insertcategory/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-12">
              <label for="CategoryName" class="form-label"> Category Name</label>
              <input type="text" class="form-control" id="CategoryName" name="categoryName" required>
            </div>

          </div>
          <div class="row">
            <div class="col-6 ">
              <label for="CategoryImg" class="form-label"> Category Img</label>
              <input type="file" class="form-control" id="CategoryImg" name="categoryimg"
                style="height: 150px; width: 200px;">
            </div>  
            <div class="col-6">
              <label for="CategoryBanner" class="form-label"> Category Banner</label>
              <input type="file" class="form-control" id="CategoryBanner" name="categoryBanner"
                style="height: 150px; width: 200px;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/updatecategory/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-12">
                <label for="CategoryName" class="form-label"> Category Name</label>
                <input type="text" class="form-control" id="updateCategoryName" name="categoryName" required>
                <input type="hidden" id="updatecategory_id" name="category_id">
              </div>
  
            </div>
            <div class="row">   
              <div class="col-6 ">
                <label for="CategoryImg" class="form-label"> Category Img</label>
                <input type="file" class="form-control" id="" name="categoryimg"
                  >
                  <img style="height: 150px; width: 200px;" src="" id="updateCategoryImg" alt="">
              </div>
              <div class="col-6">
                <label for="CategoryBanner" class="form-label"> Category Banner</label>
                <input type="file" class="form-control" id="" name="categoryBanner"
                  >
                  <img style="height: 150px; width: 200px;" src="" id="updateCategoryBanner" alt="">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </div>
</div>


<script>
  function loadEditModal(categoryId) {console.log(categoryId);
  
    fetch(`/editcategory/${categoryId}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let category = html.editcategory;
            var editModal = new bootstrap.Modal(document.getElementById('editCategoryModal'));
            document.getElementById("updatecategory_id").value=category.category_id;
            document.getElementById("updateCategoryName").value = category.category_name;
            document.getElementById("updateCategoryImg").src = category.category_img;
            document.getElementById("updateCategoryBanner").src = category.category_bannerimg;
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script>


{% endblock %}