{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              CustomerGroup List
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add CustomerGroup</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Customer Name</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in customer %}

              <tbody class="table-hover">
                <tr>
                  <td>{{ i.customergroup_id}} </td>
                  <td>{{ i.customergroup_name}} </td>
                  
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success" onclick="loadEditModal('{{ i.customergroup_id}}')">
                      <i class="fa fa-pen"></i>
                    </button>
                    <a href="deleteCustomergroup/{{ i.customergroup_id }}" onclick="return confirm('Are you sure?')" class="btn btn-sm mx-1 btn-outline-danger"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add CustomerGroup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/insertcustomergroup/" method="post">
        {% csrf_token  %}
      <div class="modal-body">
          <div class="mb-3">
            <label for="customerGroup-name" class="col-form-label">CustomerGroup Name</label>
            <input type="text" class="form-control" id="customergroup_name" name="customergroupname" placeholder="CustomerGroup Name" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editexampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit CustomerGroup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/updatecustomergroup/" method="post">
        {% csrf_token  %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="customerGroup-name" class="col-form-label">CustomerGroup Name</label>
            <input type="text" class="form-control" id="updatecustomergroup_name" name="customergroupname" placeholder="CustomerGroup Name" />
           <input type="hidden" id="updatecustomergroup_id" name="customergroup_id">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function loadEditModal(customergroupId) {console.log(customergroupId);
  
    fetch(`/editcustomergroup/${customergroupId}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let customergroup = html.editcustomergroup;
            var editModal = new bootstrap.Modal(document.getElementById('editexampleModal'));
            document.getElementById("updatecustomergroup_id").value=customergroup.customergroup_id;
            document.getElementById("updatecustomergroup_name").value = customergroup.customergroup_name;
            
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script>
{% endblock %}