{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Customers
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Customer</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Customer Name</th>

                  <th>Action</th>

                </tr>
              </thead>
              {% for i in customer %}
              <tbody class="table-hover">
                <tr>
                  <td>{{ i.customer_id }} </td>
                  <td>{{ i.customer_name }}</td>

                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success"
                      onclick="loadEditModal('{{ i.customer_id }}')">
                      <i class="fa fa-pen"></i>
                    </button>


                    <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                  data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->

                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalcheck ">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/insertcustomer/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="row g-3">
                <!-- Supplier Name -->
                <div class="col-4">
                  <label class="form-label">Customer Name *</label>
                  <input type="text" class="form-control" placeholder="Customer Name" id="customer_name" name="customer_name" required>
                </div>
                <!-- Mobile No -->
                <div class="col-4">
                  <label class="form-label">Mobile No.</label>
                  <input type="text" class="form-control" placeholder="Mobile No" id="customer_mobile" name="customer_mobile">
                </div>
                <!-- Email -->
                <div class="col-4">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email" id="customer_email" name="customer_email">
                </div>
                <!-- GST No -->
                <div class="col-3">
                  <label class="form-label">GST No.</label>
                  <input type="text" class="form-control" placeholder="GST No" id="customer_gstno" name="customer_gstno">
                </div>
                <!-- PAN No -->
                <div class="col-3">
                  <label class="form-label">PAN No.</label>
                  <input type="text" class="form-control" placeholder="PAN No" id="customer_panno" name="customer_panno">
                  
                  
                </div>
                <div class="col-3">
                  <label class="form-label">Opening Balance</label>
                  <input type="text" class="form-control" placeholder="Opening Balance" id="customer_openingbal" name="customer_openingbal">
                </div>
                <div class="col-md-3">
                  <label class="form-label">Group Type</label>
                  <select class="form-select" name="customer_grouptype" id="customer_grouptype">
                    <option>General</option>
                    <option>Wholesale</option>
                    <option>Retail</option>
                  </select>
                </div>
                <!-- Billing Address -->
                <div class="col-md-6">
                  <label class="form-label">Billing Address</label>

                  <textarea class="form-control" name="Billing Address" id="customer_BillingAddress" name="customer_BillingAddress"></textarea>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Shipping Address</label>
                  <textarea class="form-control" name="Shipping Address" id="customer_ShippingAddress" name="customer_ShippingAddress"></textarea>

                </div>
                <!-- City -->
                <div class="col-md-3">
                  <label class="form-label">City</label>
                  <input type="text" class="form-control" placeholder="City" id="customer_City" name="customer_City">
                </div>
                <!-- Opening Balance -->

                <!-- Shipping Address -->

                <!-- Group Type -->

                <!-- Credit Limit -->
                <div class="col-md-3">
                  <label class="form-label">Credit Limit</label>
                  <input type="text" class="form-control" placeholder="Credit Limit" id="customer_CreditLimit" name="customer_CreditLimit">
                </div>
                <!-- Credit Period -->
                <div class="col-md-3">
                  <label class="form-label">Credit Period (Days)</label>
                  <input type="text" class="form-control" placeholder="Credit Period (Days)" id="ustomer_CreditPeriod" name="ustomer_CreditPeriod">
                </div>

                <div class="col-md-3">
                  <label class="form-label">Customer Barcode</label>
                  <input type="text" class="form-control" placeholder="Customer Barcode">
                </div>




                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success">Save</button>
                </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>


</form>
</div>
</div>

</div>
</div>
</div>


<div class="modal fade" id="editCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/updatecustomer/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row g-3">
              <!-- Supplier Name -->
              <div class="col-md-6">
                <label class="form-label">Customer Name </label>
                <input type="text" class="form-control" placeholder="Customer Name" name="customer_name" id="updatecustomerName" required>
                <input type="hidden" id="updatecustomerId" name="customer_id" >

              </div>
              <!-- Mobile No -->
              <div class="col-md-6">
                <label class="form-label">Mobile No.</label>
                <input type="text" class="form-control" placeholder="Mobile No" name="customer_mobile" id="updateMobileNo">
              </div>
              <!-- Email -->
              <div class="col-md-6">
                <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Email" name="customer_email" id="updateEmail">
              </div>
              <!-- GST No -->
              <div class="col-md-6">
                <label class="form-label">GST No.</label>
                <input type="text" class="form-control" placeholder="GST No"  name="customer_gstno"  id="updateGSTNo">
              </div>
              <!-- PAN No -->
              <div class="col-md-6">
                <label class="form-label">PAN No.</label>
                <input type="text" class="form-control" placeholder="PAN No" name="customer_panno" id="updatePANNo">
              </div>
              <div class="col-md-6">
                <label class="form-label">Opening Balance</label>
                <input type="text" class="form-control" placeholder="Opening Balance" name="customer_openingbal" id="updateOpeningBalance">
              </div>
              <div class="col-md-6">
                <label class="form-label" name="customer_grouptype" id="updategrouptype">Group Type</label>
                <select class="form-select">
                  <option value="">General</option>
                  <option value="">Wholesale</option>
                  <option value="">Retail</option>
                </select>
              </div>
              <!-- Billing Address -->
              <div class="col-4">
                <label class="form-label">Billing Address</label>
                <input type="text" class="form-control" placeholder="Enter billing address" name="customer_BillingAddress" id="updatebillingaddress">
              </div>

              <div class="col-4">
                <label class="form-label">Shipping Address</label>
                <input type="text" class="form-control" placeholder="Enter shipping address"  name="customer_ShippingAddress" id="updateshippingaddress">
              </div>
              <!-- City -->
              <div class="col-4">
                <label class="form-label">City</label>
                <input type="text" class="form-control" placeholder="City" name="customer_City" id="updatecustomercity">
              </div>
              <!-- Opening Balance -->

              <!-- Shipping Address -->

              <!-- Group Type -->

              <!-- Credit Limit -->
              <div class="col-md-6">
                <label class="form-label">Credit Limit</label>
                <input type="text" class="form-control" placeholder="Credit Limit"  name="customer_CreditLimit"  id="updatecreditlimit">
              </div>
              <!-- Credit Period -->
              <div class="col-md-6">
                <label class="form-label">Credit Period (Days)</label>
                <input type="text" class="form-control" placeholder="Credit Period (Days)" name=" customer_CreditPeriod" id="updatecreditperiod">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
        </form>
      </div>
    </div>

  </div>
</div>
</div>


<script>
  function loadEditModal(customerId) {
    console.log(customerId);

    fetch(`/editcustomer/${customerId}/`)
      .then(response => { return response.json(); })
      .then(html => {
        console.log(html);
        let customer = html.editcustomer;
        var editModal = new bootstrap.Modal(document.getElementById('editCustomerModal'));
        document.getElementById("updatecustomerId").value = customer.customer_id
        document.getElementById("updatecustomerName").value = customer.customer_name
        document.getElementById("updateMobileNo").value = customer.customer_mobile
        document.getElementById("updateEmail").value = customer.customer_email
        document.getElementById("updateGSTNo").value = customer.customer_gstno
        document.getElementById("updatePANNo").value = customer.customer_panno
        document.getElementById("updateOpeningBalance").value = customer.customer_openingbal
        document.getElementById("updategrouptype").value = customer.customer_grouptype
        document.getElementById("updatebillingaddress").value = customer.customer_BillingAddress
        document.getElementById("updateshippingaddress").value =customer.customer_ShippingAddress
        document.getElementById("updatecreditlimit").value = customer.customer_CreditLimit
        document.getElementById("updatecustomercity").value = customer.customer_City
        document.getElementById("updatecreditperiod").value = customer.customer_CreditPeriod
        editModal.show();
      })
      .catch(error => console.error('Error loading modal content:', error));
  }

</script>


{% endblock %}