{% extends 'index.html' %}
{% block content %}

<div class="modal show" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" style="display: block;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Roles</h5>
                <button type="button" class="btn-close" id="closeModalBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="Editform" action="/EditRole/" method="post">

                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <label for="Rolename" class="form-label">Role Name</label>
                                <input type="text"  value="{{ Roles_name }}" class="form-control"  name="Roles_name" id=" Roles_name" required>
                                <input type="hidden" name="id" value="{{id}}">

                            </div>
                        </div>
                        
                        


                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">DASHBOARD</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True"   id="RolesDashboard"   name="RolesDashboard" {% if  Dashboard  %}checked{% endif %}> Dashboard
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">USER PROFILE</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox"  value="True"   name="RolesUserProfile" {% if UserProfile %}checked{% endif %}> User Profile
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">BUSINESS PROFILE</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True"  id=" RolesCompanyProfile"  name="RolesCompanyProfile" {% if BusinessProfile %}checked{% endif %}> Company Profile
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">HR DEPARTMENT</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="RolesEmployee"  name="RolesEmployee" {% if HRDepartment %}checked{% endif %}> Employee
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">STOCK</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="RolesStock"     name="RolesStock" {% if Stock %}checked{% endif %}> Stock
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">BARCODE PRINT</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True"   id="RolesBarcodePrint"   name="RolesBarcodePrint" {% if BarcodePrint %}checked{% endif %}> Barcode Print
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">POS</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="RolesPOSList" name="RolesPOSList" {% if POSList %}checked{% endif %}> POS List <br>
                                        <input type="checkbox" value="True" id="RolesPOSCreate" name="RolesPOSCreate" {% if POSCreate %}checked{% endif %}> POS Create <br>
                                        <input type="checkbox" value="True" id="RolesPOSUpdate" name="RolesPOSUpdate" {% if POSUpdate %}checked{% endif %}> POS Update <br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">SALE</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox"  value="True" id="RolesSaleList" name="RolesSaleList" {% if SaleList %}checked{% endif %}> Sale List <br>
                                        <input type="checkbox"  value="True" id="RolesSaleCreate"  name="RolesSaleCreate" {% if SaleCreate %}checked{% endif %}> Sale Create <br>
                                        <input type="checkbox"  value="True" id="RolesSaleUpdate" name="RolesSaleUpdate" {% if SaleUpdate %}checked{% endif %}> Sale Update <br>
                                        <input type="checkbox"  value="True" id="RolesSaleDelete" name="RolesSaleDelete" {% if SaleDelete %}checked{% endif %}> Sale Delete
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="card checkbox-card shadow-sm">
                                <div class="card-header bg-info text-white">PURCHASE</div>
                                <div class="card-body checkbox-heading">

                                    <input type="checkbox" value="True" id="RolesPurchaseList" name="RolesPurchaseList"{% if PurchaseList %}checked{% endif %}> Purchase List <br>
                                    <input type="checkbox" value="True" id="RolesPurchaseCreate" name="RolesPurchaseCreate"{% if PurchaseCreate %}checked{% endif %}> Purchase Create <br>
                                    <input type="checkbox"  value="True" id="RolesPurchaseUpdate" name="RolesPurchaseUpdate"{% if PurchaseUpdate %}checked{% endif %}> Purchase Update <br>
                                    <input type="checkbox"  value="True" id="RolesPurchaseDelete" name="RolesPurchaseDelete"{% if PurchaseDelete %}checked{% endif %}> Purchase Delete
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">SUPPLIER</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="RolesList" name="RolesList" {% if SupplierList %}checked{% endif %}> List <br>
                                        <input type="checkbox" value="True" id="RolesCreate" name="RolesCreate"{% if  SupplierCreate %}checked{% endif %}> Create <br>
                                        <input type="checkbox" value="True" id="RolesUpdate" name="RolesUpdate"{% if  SupplierUpdate %}checked{% endif %}> Update <br>
                                        <input type="checkbox" value="True" id="RolesDelete" name="RolesDelete"{% if  SupplierDelete %}checked{% endif %}> Delete
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">REWARD-POINT</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="RolesLoyalityPoints" name="RolesLoyalityPoints"{% if LoyalityPoints %}checked{% endif %}> Loyality Points
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">SETTINGS</div>
                                    <div class="card-body checkbox-heading">
                                        <input type="checkbox" value="True" id="Rolescategory" name="Rolescategory"{% if category %}checked{% endif %}> category <br>
                                        <input type="checkbox" value="True" id="RolesBrand" name="RolesBrand"{% if Brand %}checked{% endif %}> Brand <br>
                                        <input type="checkbox" value="True" id="RolesTaxes" name="RolesTaxes"{% if Taxes %}checked{% endif %}> Taxes <br>
                                        <input type="checkbox" value="True" id="RolesUnit"  name="RolesUnit"{% if Unit %}checked{% endif %}> Unit<br>
                                        <input type="checkbox" value="True"  id="RolesExpensestypes" name="RolesExpensestypes"{% if Expensestypes %}checked{% endif %}> Expenses types<br>
                                        <input type="checkbox" value="True" id="RolesPaymentmode" name="RolesPaymentmod"{% if Paymentmod %}checked{% endif %}> Payment mode <br>
                                        <input type="checkbox" value="True" id="RolesPaymentsTerms" name="RolesPaymentsTerms"{% if PaymentsTerms %}checked{% endif %}> Payments Terms <br>
                                        <input type="checkbox" value="True" id="RolesCustomerGroup" name="RolesCustomerGroup"{% if CustomerGroup %}checked{% endif %}> Customer Group <br>
                                        <input type="checkbox" value="True"id="RolesSupplierGroup" name="RolesSupplierGroup"{% if SupplierGroup %}checked{% endif %}> Supplier Group<br>
                                        <input type="checkbox" value="True" id="RolesBarcodeSetting" name="RolesBarcodeSetting"{% if BarcodeSetting %}checked{% endif %}> Barcode Setting<br>
                                        <input type="checkbox" value="True" id="RolesPrinterSetting" name="RolesPrinterSetting"{% if PrinterSetting %}checked{% endif %}> Printer Setting<br>
                                        <input type="checkbox" value="True" id="RolesBillingSetting" name="RolesBillingSetting"{% if BillingSetting %}checked{% endif %}> Billing Setting<br>
                                        <input type="checkbox" value="True" id= "RoleslanguageSetting" name="RoleslanguageSetting"{% if languageSetting %}checked{% endif %}> language Setting<br>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">REPORTS</div>
                                    <div class="card-body checkbox-heading">

                                        <input type="checkbox" value="True" id="RolesBillWiseProfit"  name="RolesBillWiseProfit"{% if BillWiseProfit %}checked{% endif %}> Bill Wise Profit <br>
                                        <input type="checkbox" value="True" id="RolesOutstandingReport" name="RolesOutstandingReport"{% if OutstandingReport %}checked{% endif %}>Outstanding Report <br>
                                        <input type="checkbox" value="True" id="RolesLedgerReports" name="RolesLedgerReports"{% if LedgerReports %}checked{% endif %}> Ledger Reports <br>
                                        <input type="checkbox" value="True" id="RolesPOSRegisterReport" name="RolesPOSRegisterReport"{% if POSRegisterReport %}checked{% endif %}> POS Register Report
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">CUSTOMER</div>
                                    <div class="card-body checkbox-heading">

                                        <input type="checkbox" value="True" id="RolesList" name="CustomerList"{% if CustomerList %}checked{% endif %}> List <br>
                                        <input type="checkbox" value="True" id="RolesCreate" name="CustomerCreate"{% if CustomerCreate %}checked{% endif %}> Create <br>
                                        <input type="checkbox" value="True" id="RolesUpdate"  name="CustomerUpdate"{% if CustomerUpdate %}checked{% endif %}> Update <br>
                                        <input type="checkbox" value="True" id="RolesDelete" name="CustomerDelete"{% if CustomerDelete %}checked{% endif %}> Delete
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">PAYMENT-RECIEPT</div>
                                    <div class="card-body checkbox-heading">

                                        <input type="checkbox" value="True" id="RolesPayment" name="RolesPayment"{% if Payment %}checked{% endif %}> Payment <br>
                                        <input type="checkbox"  value="True" id="RolesReciept" name="RolesReciept"{% if Reciept %}checked{% endif %}> Reciept

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">USER-MANAGEMENT</div>
                                    <div class="card-body checkbox-heading">

                                        <input type="checkbox" value="True" id="RolesRole" name="RolesRole"{% if Role %}checked{% endif %}> Role <br>
                                        <input type="checkbox" value="True" id="RolesUser" name="RolesUser"{% if User %}checked{% endif %}> User <br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card checkbox-card shadow-sm">
                                    <div class="card-header bg-info text-white">PRODUCTS</div>
                                    <div class="card-body checkbox-heading">

                                        <input type="checkbox"  value="True" id="RolesProductList" name="RolesProductList"{% if ProductList %}checked{% endif %}> Product List <br>
                                        <input type="checkbox" value="True"  id="RolesProductCreate" name="RolesProductCreate"{% if ProductCreate %}checked{% endif %}> Product Create <br>
                                        <input type="checkbox"  value="True" id="RolesProductUpdate" name="RolesProductUpdate"{% if ProductUpdate %}checked{% endif %}> Product Update <br>
                                        <input type="checkbox" value="True"  id="RolesProductDelete" name="RolesProductDelete"{% if ProductDelete %}checked{% endif %}> Product Delete
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <i class="fas fa-times"></i><a href="/Roles/"></a> Close
                            </button>
                            <button type="submit" name="submit" class="btn btn-success">Save</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}
