{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Add Employee
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Employee</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Employee Name</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody class="table-hover">
                {% for i in employeedata %}
                <tr>
                <td>{{ i.Employees_id}}</td>
                  <td>{{ i.Employees_firstname}}</td>
                  <td>
                    <button href="/updateemployee/" class="btn btn-sm mx-1 btn-outline-success" onclick="loadEditModal('{{ i.Employees_id }}')" >
                      <i class="fa fa-pen"></i>
                      </button>
                      <a href="deleteemployee/{{ i.Employees_id }}" onclick="return confirm('Are you sure?')" class="btn btn-sm mx-1 btn-outline-danger"><i class="fa fa-trash"></i></a>
        
                      
        
                      <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                    
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee </h5>
                <button type="button" class="btn-enclose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="employeeTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="primary-tab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab">Basic Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ecommerce-tab" data-bs-toggle="tab" data-bs-target="#advance" type="button" role="tab">Employment Advance Information</button>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="basic" role="tabpanel">
                        <form action="/insertemployee/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="form-label">First Name *</label>
                                    <input type="text" class="form-control" placeholder="Enter First Name"  id="first_name" name="first_name" required>
                                    <input type="hidden" id="iemployee_id" name="iemployee_id">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Middle Name"  id="middle_name" name="middle_name" required>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name"  id="last_name" name="last_name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="form-label">Date Of Birth</label>
                                    <input type="date"  class="form-control" id="date_birth" name="date_birth" placeholder="Date of Birth" value="2025-03-26" required>
                                </div>
                                <div class="col-4">
                                    <label class="form-label" >Gender</label>
                                    <div class="d-flex gap-2">
                                        <input type="radio" class="btn btn-outline-primary"  id="male" name="gender" >Male
                                        <input type="radio" class="btn btn-outline-primary"  id="Female" name="gender">Female
                                        <input type="radio" class="btn btn-outline-primary"  id="other" name="gender">Other
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-header bg-info text-white">Contact Information</div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Address (Home / Current)</label>
                                            <input type="text" class="form-control" placeholder="Address"  id="address" name="address" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Mobile Number</label>
                                            <input type="text" class="form-control" placeholder="Mobile Number"  id="mob" name="mob" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Email Address</label>
                                            <input type="email" class="form-control" placeholder="Email Address"  id="email_Add" name="email_Add" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <!-- Education & Qualifications -->
                            <div class="card mt-3">
                                <div class="card-header bg-info text-white">Education and Qualifications</div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label class="form-label">Highest Education Level Attained</label>
                                            <input type="text" class="form-control" placeholder="Highest Education"  id="high_education" name="high_education" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Institutions Attended</label>
                                            <input type="text" class="form-control" placeholder="Institution Attended"   id="institution_attended" name="institution_attended" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Degrees Earned</label>
                                            <input type="text" class="form-control" placeholder="Degree Earned" id="degrees_earned" name="degrees_earned" required>
                                        </div>
                                    </div>
                
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Certifications or Licenses</label>
                                            <input type="text" class="form-control" placeholder="Certification" id="certifications" name="certifications" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-header bg-info text-white">Leave and Time Off</div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label class="form-label">Vacation Leave Balance</label>
                                            <input type="number" class="form-control" placeholder="Vacation leaves" id="v_leave_balance" name="v_leave_balance" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Sick Leave Balance</label>
                                            <input type="number" class="form-control" placeholder="Sick Leave Balance"  id="s_leave_balance" name="s_leave_balance" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Types of leaves</label>
                                            <input type="text" class="form-control" placeholder="Leave Type"  id="types_leave" name="types_leave" required>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header bg-info text-white">Compensation Details</div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label class="form-label">Salary (Home / Current) </label>
                                            <input type="text" class="form-control" placeholder="Salary"  id="Salary" name="salary" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Pay Frequency </label>
                                            <input type="text" class="form-control" placeholder="Pay Frequency" id="pay_frequency" name="pay_frequency" required >
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Account Number</label>
                                            <input type="text" class="form-control" placeholder="Account Number"  id="acc_no" name="acc_no" required>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <label class="form-label">IFSC Code</label>
                                            <input type="text" class="form-control" placeholder="IFSC Code"  id="ifsc_code" name="ifsc_code" required>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <label class="form-label">Account Holder Name</label>
                                            <input type="text" class="form-control" placeholder="Account Holder Name"  id="acc_holder" name="acc_holder" required>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>   
                        
                    </div>

                     
                    <div class="tab-pane fade" id="advance" role="tabpanel">
                        
                            <h5>Employment Details</h5>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Employee ID</label>
                                    <input type="text" class="form-control" placeholder="Employee ID"  id="emp_id" name="emp_id" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Job Title</label>
                                    <input type="text" class="form-control" placeholder="Job Title"  id="job_title" name="job_title" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Department</label>
                                    <input type="text" class="form-control" placeholder="Employee Department"  id="dept" name="dept" required>
                                </div>
                            </div>
    
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Employment Status</label>
                                    <input type="text" class="form-control" placeholder="Employment Status" id="emp_status" name="emp_status" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Hire Date</label>
                                    <input type="date"  class="form-control"  id="hire_date" name="hire_date" placeholder="Hire Date" value="2025-03-26" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Termination Date (if applicable)</label>
                                    <input type="date"  class="form-control"  id="termination_date" name="termination_date" placeholder="Termination date" value="2025-03-26" required>
                                </div>
                            </div>
    
                           
            <div class="card mt-3">
                <div class="card-header bg-info text-white">Emergency Contact</div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">

                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name"  id="e_name" name="e_name" required>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Relationship</label>
                                    <input type="text" class="form-control" placeholder="Relationship"  id="relationship" name="relationship" required>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="Mobile Number"  id="phone_no" name="phone_no" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                          
            <div class="card mt-3">
                <div class="card-header bg-info text-white">Department</div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">

                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" placeholder="Name"  id="d_name" name="d_name" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control"  id="d_birth" name="d_birth" placeholder="Date of Birth" value="2025-03-26" required>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                    <label class="form-label">Relationship (Spouse, Child, etc.)</label>
                                    <input type="text" class="form-control" placeholder="Relationship"  id="d_relationship" name="d_relationship" required>
                               
                            </div>
                        </div>
                        </div>
                    </div>
    
                    <div class="card mt-3">
                        <div class="card-header bg-info text-white">Work History</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
        
                                            <label class="form-label">Previous Employees</label>
                                            <input type="text" class="form-control" placeholder="Previous Employees"  id="p_emp" name="p_emp" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Job Titles</label>
                                            <input type="text" class="form-control" placeholder="Job Titles"  id="job_titles" name="job_titles" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Responsibilities</label>
                                            <input type="text" class="form-control" placeholder="Job Responsibilities"  id="responsibilities" name="responsibilities" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
    
                               
                            <div class="card mt-3">
                                <div class="card-header bg-info text-white">Documents and Attachments</div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                                <label class="form-label">Resume</label>
                                                <input type="file" class="form-control" placeholder="Resume"  id="resume" name="resume" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label">ID</label>
                                                <input type="text" class="form-control" placeholder="ID" id="id" name="id" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label">Certification</label>
                                                <input type="text" class="form-control" placeholder="Certification" id="d_certification" name="d_certification" required>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                            </div>
    
                        
                    </div>
               
                </div>  
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                </div>  
                
<!-- UPDATE -->

<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editEmployeeModalLabel">Update Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/updateemployee/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <ul class="nav nav-tabs" id="editEmployeeTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="edit-primary-tab" data-bs-toggle="tab" data-bs-target="#edit-basic" type="button" role="tab">Basic Information</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="edit-advance-tab" data-bs-toggle="tab" data-bs-target="#edit-advance" type="button" role="tab">Employment Advance Information</button>
              </li>
            </ul>
            <div class="tab-content mt-3">
              <div class="tab-pane fade show active" id="edit-basic" role="tabpanel">
                <!-- Basic Info -->
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">First Name *</label>
                    <input type="text" class="form-control" id="ufirst_name" name="ufirst_name"  >
                    <input type="hidden" name="Employee_id" id="Employee_id" required >
                  </div>
                  <div class="col-4">
                    <label class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="Middle_name" name="Middle_name" required>
                  </div>
                  <div class="col-4">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="Last_name" name="Last_name" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" id="Date_birth" name="Date_birth" value="2025-03-26" required>
                  </div>
                  <div class="col-4">
                    <label class="form-label">Gender</label>
                    <div class="d-flex gap-2">
                      <input type="radio" id="male" name="Gender_choice" value="Male"> Male
                      <input type="radio" id="Female" name="Gender_choice" value="Female"> Female
                      <input type="radio" id="other" name="Gender_choice" value="Other"> Other
                    </div>
                  </div>
                </div>
  
                <!-- Contact -->
                 
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Contact Information</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label class="form-label">Address (Home / Current)</label>
                        <input type="text" class="form-control" id="Address" name="Address" required>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="Mob" name="Mob" required>
                      </div>
                      <div class="col-md-3">
                        <label class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email_add" name="email_add" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Education -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Education and Qualifications</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <label class="form-label">Highest Education Level Attained</label>
                        <input type="text" class="form-control" id="High_education" name="high_education" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Institutions Attended</label>
                        <input type="text" class="form-control" id="Institution_attended" name="Institution_attended" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Degrees Earned</label>
                        <input type="text" class="form-control" id="Degrees_earned" name="Degrees_earned" required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label class="form-label">Certifications or Licenses</label>
                        <input type="text" class="form-control" id="Certifications" name="Certifications" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Leave -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Leave and Time Off</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <label class="form-label">Vacation Leave Balance</label>
                        <input type="text" class="form-control" id="V_leave_balance" name="V_leave_balance" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Sick Leave Balance</label>
                        <input type="text" class="form-control" id="S_leave_balance" name="S_leave_balance" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Types of leaves</label>
                        <input type="text" class="form-control" id="Types_leave" name="Types_leave" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Compensation -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Compensation Details</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <label class="form-label">Salary</label>
                        <input type="text" class="form-control" id="salary" name="salary" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Pay Frequency</label>
                        <input type="text" class="form-control" id="Pay_frequency" name="Pay_frequency" required value="True">
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Account Number</label>
                        <input type="text" class="form-control" id="Acc_no" name="Acc_no" required>
                      </div>
                      <div class="col-md-4 mt-3">
                        <label class="form-label">IFSC Code</label>
                        <input type="text" class="form-control" id="IFSC_code" name="IFSC_code" required>
                      </div>
                      <div class="col-md-4 mt-3">
                        <label class="form-label">Account Holder Name</label>
                        <input type="text" class="form-control" id="Acc_holder" name="Acc_holder" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- End Basic Tab -->
  
              <!-- Advanced Tab -->
              <div class="tab-pane fade" id="edit-advance" role="tabpanel">
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label class="form-label">Employee ID</label>
                    <input type="text" class="form-control" id="Emp_id" name="Emp_id" required>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Job Title</label>
                    <input type="text" class="form-control" id="Job_title" name="Job_title" required>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Department</label>
                    <input type="text" class="form-control" id="Dept" name="Dept" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label class="form-label">Employment Status</label>
                    <input type="text" class="form-control" id="Emp_status" name="Emp_status" required>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Hire Date</label>
                    <input type="date" class="form-control" id="Hire_date" name="Hire_date" value="2025-03-26" required>
                  </div>
                  <div class="col-md-4">
                    <label class="form-label">Termination Date</label>
                    <input type="date" class="form-control" id="Termination_date" name="Termination_date" value="2025-03-26" required>
                  </div>
                </div>
  
                <!-- Emergency Contact -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Emergency Contact</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="E_name" name="E_name" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Relationship</label>
                        <input type="text" class="form-control" id="Relationship" name="Relationship" required>
                      </div>
                      <div class="col-4 mt-3">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="Phone_no" name="Phone_no" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Department Member Info -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Department</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="D_name" name="D_name" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="D_birth" name="D_birth" value="2025-03-26" required>
                      </div>
                      <div class="col-4 mt-3">
                        <label class="form-label">Relationship</label>
                        <input type="text" class="form-control" id="D_relationship" name="D_relationship" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Work History -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Work History</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <label class="form-label">Previous Employees</label>
                        <input type="text" class="form-control" id="P_emp" name="P_emp" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Job Titles</label>
                        <input type="text" class="form-control" id="Job_titles" name="Job_titles" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Responsibilities</label>
                        <input type="text" class="form-control" id="Responsibilities" name="Responsibilities" required>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Documents -->
                <div class="card mt-3">
                  <div class="card-header bg-info text-white">Documents and Attachments</div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-4">
                        <label class="form-label">Resume</label>
                        <input type="File" class="form-control" id="resume" name="resume" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">ID</label>
                        <input type="text" class="form-control" id="Id" name="Id" required>
                      </div>
                      <div class="col-md-4">
                        <label class="form-label">Certification</label>
                        <input type="text" class="form-control" id="D_certification" name="D_certification" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- End Advanced Tab -->
            </div> <!-- tab-content -->
          </div> <!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<script>
  function loadEditModal(Employeeid) {
    console.log(Employeeid);

    fetch(`/editEmployee/${Employeeid}/`)
        .then(response => { return response.json(); })
        .then(html => {
            console.log(html);
            let Employees = html.editemployee;

            var editModal = new bootstrap.Modal(document.getElementById('editEmployeeModal'));

            // Basic Information
            document.getElementById('Employee_id').value = Employees.Employees_id;
            document.getElementById("ufirst_name").value = Employees.Employees_firstname;
            document.getElementById("Middle_name").value = Employees.Employees_middlename;
            document.getElementById("Last_name").value = Employees.Employees_lastname;
            document.getElementById("Date_birth").value = Employees.Employees_dateof_birth;

            // Gender Radio Buttons
            if (Employees.Employees_gender === "Male") {
                document.getElementById("male").checked = true;
            } else if (Employees.Employees_gender === "Female") {
                document.getElementById("Female").checked = true;
            } else {
                document.getElementById("other").checked = true;
            }

            // Contact Info
            document.getElementById("Address").value = Employees.Employees_address;
            document.getElementById("Mob").value = Employees.Employees_mobile_number;
            document.getElementById("email_add").value = Employees.Employees_email;

            // Education
            document.getElementById("High_education").value = Employees.Employees_highesteducation;
            document.getElementById("Institution_attended").value = Employees.Employees_institutionsattended;
            document.getElementById("Degrees_earned").value = Employees.Employees_degreesearned;
            document.getElementById("Certifications").value = Employees.Employees_certifications;

            // Leave
            document.getElementById("V_leave_balance").value = Employees.Employees_vacationleave_balance;
            document.getElementById("S_leave_balance").value = Employees.Employees_sickleave_balance;
            document.getElementById("Types_leave").value = Employees.Employees_leavetypes;

            // Compensation
            document.getElementById("salary").value = Employees.Employees_salary;
            document.getElementById("Pay_frequency").value = Employees.Employees_payfrequency;
            document.getElementById("Acc_no").value = Employees.Employees_accountnumber;
            document.getElementById("IFSC_code").value = Employees.Employees_ifsccode;
            document.getElementById("Acc_holder").value = Employees.Employees_accountholder_name;

            // Employment Advance Info
            document.getElementById("Emp_id").value = Employees.employee_id;
            document.getElementById("Job_title").value = Employees.job_title;
            document.getElementById("Dept").value = Employees.department;
            document.getElementById("Emp_status").value = Employees.employment_status;
            document.getElementById("Hire_date").value = Employees.hire_date;
            document.getElementById("Termination_date").value = Employees.termination_date;

            // Emergency Contact
            document.getElementById("E_name").value = Employees.Employees_emergencycontact_name;
            document.getElementById("Relationship").value = Employees.Employees_emergencycontact_relationship;
            document.getElementById("Phone_no").value = Employees.Employees_emergencycontact_phone;

            // Dependent Info
            document.getElementById("D_name").value = Employees.department_name;
            document.getElementById("D_birth").value = Employees.department_birth;
            document.getElementById("D_relationship").value = Employees.d_relationship;

            // Work History
            document.getElementById("P_emp").value = Employees.Employees_previous_employers;
            document.getElementById("Job_titles").value = Employees.Employees_previous_jobtitles;
            document.getElementById("Responsibilities").value = Employees.Employees_previous_responsibilities;

            // Documents
            document.getElementById("Id").value = Employees.Employees_id_proof;
            document.getElementById("D_certification").value = Employees.Employees_doc_certification;

            // Finally, show the modal
            editModal.show();
        })
        .catch(error => {
            console.error('Error fetching employee data:', error);
        });
}
</script>
  
        {% endblock %}
    