{% extends 'index.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Paymentmode List</h2>
    
    {% if Paymentmode %}
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Payment Name</th>
                </tr>
            </thead>
            <tbody>
              {% for i in list %}
                <tr>
                  <td>{{ i.Paymentterms_id}}</td>
                  <td>{{ i.Paymentterms_name}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No paymentterms found.</p>
    {% endif %}
</div>
{% endblock %}
