{% extends 'index.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container mt-4">
            <h4 class="mb-3">POS Bills</h4>
        
            <!-- Search and Filter Section -->
            <div class="row mb-3">  
                <div class="col-md-3">
                    <input type="date" class="form-control" id="fromDate" value="2025-03-18">
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="toDate" value="2025-03-18">
                </div>
               <div class="col-md-6 text-end">
                     
                    <a href="/printpage/" class="btn btn-primary"><i class="fa fa-print"></i>Print</a>
                    
                
                </div> 
            </div>
        
            <!-- POS Bills Table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>SR. NO</th>
                            <th>USER</th>
                            <th>INVOICE NO.</th>
                            <th>CUSTOMER NAME</th>
                            <th>BILL DATE</th>
                            <th>QTY</th>
                            <th>GRAND TOTAL</th>
                            <th>PAYMENT MODE</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Super Admin</td>
                            <td>A-3</td>
                            <td>Cash Sale</td>
                            <td>18/03/2025</td>
                            <td>2</td>
                            <td>₹ 0</td>
                            <td>Cash</td>
                            <td>
                                <button class="btn btn-success btn-sm"><i class="fab fa-whatsapp"></i></button>
                                <button class="btn btn-warning btn-sm"><i class="fa fa-pen"></i></button>
                            </td>
                        </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            
            <div class="d-flex justify-content-between bg-light mb-8 p-2">
                <div>QTY: 2.00</div>
                <div>Total Amount: ₹ 0.00</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}