{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="card  border border-success">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <h3>
                Products List
              </h3>
              <div class="text-right">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal"
                  data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add Product</button>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table table-bordered text-center ">
                <thead class="table-success">
                  <tr>
                    <th>Sr.No</th>
                    <th>Category Name</th>
                    <th>Category Img</th>
                    <th>Banner Img</th>
                    <th>Action</th>
  
                  </tr>
                </thead>
                <tbody class="table-hover">
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td> <img style="width:50px; height:50px;" src="" alt=""></td>
                    <td><img style="width:50px; height:50px;" src="" alt=""></td>
                    <td>
                      <a href="/editproduct/" class="btn btn-sm mx-1 btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#editcategory" data-bs-whatever="@mdo">
                        <i class="fa fa-pen"></i>
                      </a>
  
                      <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                  data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
  
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="productTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="primary-tab" data-bs-toggle="tab" data-bs-target="#primary" type="button" role="tab">Primary Information</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ecommerce-tab" data-bs-toggle="tab" data-bs-target="#ecommerce" type="button" role="tab">Ecommerce</button>
                    </li> -->
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="primary" role="tabpanel">
                        <form action="/insertproduct/" method="post">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label class="form-label">Product Name *</label>
                                    <input type="text" class="form-control" placeholder="Enter Product Name" name="Productname">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Marathi Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Product Marathi Name" name="Marathiname">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">HSN Code</label>
                                    <input type="text" class="form-control" placeholder="Enter HSN Code" name="HSNCode">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="category">
                                        <option value=""selected>select category </option>
                                        {% for cate in categories %}
                                        <option value="{{cate.category_id}}">{{ cate.category_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Brand</label>
                                    <select class="form-select" name="brand">
                                        <option value=""selected>select brand</option>
                                        {% for barnd in brands %}                                        
                                        <option value="{{barnd.brand_id}}">{{barnd.brand_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Tax %</label>
                                    <input type="number" class="form-control" name="tax" value="0">
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Tax Type</label>
                                    <select class="form-select" name="tax">
                                        <option value=""selected>select Tax Type</option>
                                        {% for tax in taxs %}
                                        <option value="{{tax.tax_id}}">{{tax.tax_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3">
                                    <label class="form-label">Primary Unit</label>
                                    <select class="form-select" name="unit">
                                    <option value=""selected>select Unit</option>
                                        {% for unit in units %}
                                        <option value="{{unit.unit_id}}">{{unit.unit_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Alternate Unit</label>
                                    <select class="form-select">
                                        <option selected>NoS</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label class="form-label">Conversion Factor</label>
                                    <input type="text" class="form-control" name="conversion" placeholder="Enter Conversion Factor">
                                </div>
                                <div class="col-3">
                                    <label class="form-label"> Unit Price Per</label>   
                                    <select class="form-select">
                                        <option selected>NOS</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div>
                                <table  border="1" cellspacing="10"  style="width: 100%; padding: 0px; margin:0%;" id="myTable">
                                    
                                        <tr>
                                            <th style="margin: 0%;">Barcode</th>
                                            <th>QR Code</th>
                                            <th>MRP</th>
                                            <th>Sale</th>
                                            <th>Credit</th>
                                            <th>Purchase </th>
                                            <th>Wholesaler</th>
                                            <th>Distributor </th>
                                            <th>Op_Qty</th>
                                            <th>Op_Value</th>
                                            <th>Mfg Date</th>
                                            <th>Exp Date</th>
                                            <th>Action</th>
                                        </tr>
                                    
                                    
                                        <tbody style="margin: 0%;">
                                        <tr  style="margin: 0%;">
                                            <td style="margin: 0%;"><input type="text" class="" style="width: 80px; margin: 0px;" name="barcode"></td>
                                            <td style="margin-left: 0%;"><input type="text" class="" style="width: 80px;" name="qrcode"></td>
                                            <td><input type="text" name="" class="" style="width: 80px;" name="mrp" ></td>
                                            <td><input type="text" class="" style="width: 80px;" name="sale" ></td>
                                            <td><input type="text" class="" style="width: 80px;" name="credit"></td>
                                            <td><input type="text" class="" style="width: 80px;" name="Purchase" ></td>
                                            <td><input type="text" class="" style="width: 80px;" name="Wholesaler"></td>
                                            <td><input type="text" class="" style="width: 80px;" name="Distributor"></td>
                                            <td><input type="text" class="" style="width: 80px;" name="Op_Qty"></td>
                                            <td><input type="text" class="" style="width: 80px;" name="Op_Value"></td>
                                            <td><input type="date" class="" style="width: 80px;" name="MfgDate"></td>
                                            <td><input type="date" class="" style="width: 80px;" name="ExpDate"></td>
                                            <td><button type="button" class="btn btn-success btn-sm" onclick="copyRow()">+</button>
                                                <button class="btn btn-danger btn-sm" onclick="removeRow(this)">X</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                
                                </table>
                            </div>
                        
                        </form>
                    </div>
                      <div class="tab-pane fade" id="ecommerce" role="tabpanel">
                        <p>Content for Ecommerce tab.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    function copyRow() {
    // Get the table
    let table = document.getElementById("myTable");

    // Get the last row
    let lastRow = table.rows[table.rows.length - 1];

    // Clone the row
    let newRow = lastRow.cloneNode(true);

    // Append the new row to the table
    table.appendChild(newRow);
 }


    function removeRow(button) {
        let row = button.closest("tr");
        let table = document.getElementById("productTable").getElementsByTagName('tbody')[0];
        if (table.rows.length > 1) {
            row.remove();
        }
    }
</script>
  {% endblock %}    