{% extends 'index.html' %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              Set Range
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Set Range</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.no</th>
                  <th>Min Range</th>
                  <th>Max Range</th>
                  <th>Points</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in list %}
              <tbody class="table-hover">
                <tr>
                  <td>{{ forloop.counter }} </td>
                  <td>{{ i.RewardPoints_Minrange }}</td>
                  <td>{{ i.RewardPoints_Maxrange }}</td>
                  <td>{{ i.RewardPoints_Points }}</td>
                  
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success"  onclick="loadEditModal('{{ i.RewardPoints_id }}')">
                      <i class="fa fa-pen"></i>
                  </button>
                  <a href="deleteRewardPoints/{{ i.RewardPoints_id }}" onclick="return confirm('Are you sure?')" class="btn btn-sm mx-1 btn-outline-danger"><i class="fa fa-trash"></i></a>
                  
                  
                  <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editcategory"
                  data-bs-whatever="@mdo"><i class="fa fa-pen"></i></button> -->
                  
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalcheck ">Set Range</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="/insertrewardpoint/" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-6">
              <label for="RewardPoints_Minrange" class="form-label">Set Min Range</label>
              <input type="number" class="form-control" id="RewardPoints_Minrange" name="RewardPoints_Minrange" >
            </div>

          </div>
          <div class="row">
            <div class="col-6 ">
              <label for="RewardPoints_Maxrange" class="form-label"> Set Max Range</label>
              <input type="number" class="form-control" id="RewardPoints_Maxrange" name="RewardPoints_Maxange">
            </div>  
            <div class="col-6">
              <label for="RewardPoints_Points" class="form-label">Points</label>
              <input type="number" class="form-control" id="RewardPoints_Points" name="RewardPoints_Points">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" name="submit"  class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Range</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/updaterewardpoint/" method="post">
        {% csrf_token  %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="RewardPoints_Minrange" class="col-form-label">Set Min Range</label>
            <input type="text" class="form-control" id="updateRewardPoints_Minrange" name="RewardPoints_Minrange" placeholder="CustomerGroup Name" />
           <input type="hidden" id="RewardPoints_id" name="RewardPoints_id">
          </div>
          <div class="row">   
            <div class="col-6">
              <label for="RewardPoints_Maxrange" class="form-label">Set Max Range</label>
              <input type="text" class="form-control" id="updateRewardPoints_Maxrange" name="RewardPoints_Maxrange" required>
              
            </div>
            <div class="col-16">
              <label for="RewardPoints_Points" class="form-label">Set Points</label>
              <input type="text" class="form-control" id="updateRewardPoints_Points" name="RewardPoints_Points" required>
              
            </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
   function loadEditModal(RewardPoints_id) {console.log(RewardPoints_id);
  
    fetch(`/editrewardpointpage/${RewardPoints_id}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let rewardpoint = html.editrewardpoints;
            
            
            document.getElementById("RewardPoints_id").value = rewardpoint.RewardPoints_id;
            document.getElementById("updateRewardPoints_Minrange").value = rewardpoint.RewardPoints_Minrange;
            document.getElementById("updateRewardPoints_Maxrange").value = rewardpoint.RewardPoints_Maxrange;
            document.getElementById("updateRewardPoints_Points").value = rewardpoint.RewardPoints_Points;
            var editModal = new bootstrap.Modal(document.getElementById('Modal1'));
            editModal.show();
        })  
        .catch(error => console.error('Error loading modal content:', error));
      }

</script>


{% endblock %}