{% extends 'index.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card  border border-success">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>
              SupplierGroup List
            </h3>
            <div class="text-right">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="nav-icon fas fa-plus"></i>Add SupplierGroup</button>
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-bordered text-center ">
              <thead class="table-success">
                <tr>
                  <th>Sr.No</th>
                  <th>Supplier Name</th>
                  <th>Action</th>

                </tr>
              </thead>
              {% for i in supplier %}

              <tbody class="table-hover">
                <tr>
                  <td>{{ i.suppliergroup_id}} </td>
                  <td>{{ i.suppliergroup_name}} </td>
                  
                  <td>
                    <button type="button" class="btn btn-sm mx-1 btn-outline-success" onclick="loadEditModal('{{ i.suppliergroup_id}}')">
                      <i class="fa fa-pen"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add SupplierGroup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/insertsuppliergroup/" method="post">
        {% csrf_token  %}
      <div class="modal-body">
          <div class="mb-3">
            <label for="supplierGroup-name" class="col-form-label">SupplierGroup Name</label>
            <input type="text" class="form-control" id="suppliergroup_name" name="suppliergroupname" placeholder="SupplierGroup Name" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editexampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit SupplierGroup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/updatesuppliergroup/" method="post">
        {% csrf_token  %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="supplierGroup-name" class="col-form-label">SupplierGroup Name</label>
            <input type="text" class="form-control" id="updatesuppliergroup_name" name="suppliergroupname" placeholder="SupplierGroup Name" />
           <input type="hidden" id="updatesuppliergroup_id" name="suppliergroup_id">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" class="btn btn-success">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function loadEditModal(suppliergroupId) {console.log(suppliergroupId);
  
    fetch(`/editsuppliergroup/${suppliergroupId}/`)
        .then(response =>{return response.json();})
        .then(html => {
          console.log(html);
          let suppliergroup = html.editsuppliergroup;
            var editModal = new bootstrap.Modal(document.getElementById('editexampleModal'));
            document.getElementById("updatesuppliergroup_id").value=suppliergroup.suppliergroup_id;
            document.getElementById("updatesuppliergroup_name").value=suppliergroup.suppliergroup_name;
            
            editModal.show();
        })
        .catch(error => console.error('Error loading modal content:', error));
}

</script>
{% endblock %}